.intro-sect{background-color:#f6f2f7;padding:120px 0 90px}
.intro-text{max-width:480px}
.trading-results-list .intro-right{width:100%}
.trading-results{margin:40px 0 0;min-width:660px}
.trading-results p{max-width:100%}
.trading-results-heading{font-size:36px;font-weight:700}
p.trading-results-heading{margin-top:0}
.trading-results .tradings-results-item-number{color:#27e34f;font-size:36px;font-weight:700;margin:0}
.trading-results-row{display:flex;justify-content:space-between;padding:85px 0 30px;background-image:url(./src/assets/img/trading-element.svg);background-position:center 20px;background-repeat:no-repeat;background-size:70%}
.trading-results-item{text-align:center}
p.trading-results-item-name{font-size:16px;font-weight:700;margin:0}
.decrease .tradings-results-item-number{color:#e31029}
.trading-results-row .trading-results-item{text-align:center;width:33.333%}
.trading-results-page .cot-01-product-sect{background-color:#fff}
.abo-overview .section-heading{margin:60px 0 30px}
.abo-overview .contact-home-sect .section-heading{margin-top:0}
.abo-overview .abo-list-sect{padding:28px 0}
.abo-overview .abo-list-sect .section-heading{margin-bottom:0}
.abo-overview .tariff-container-static{margin-top:70px}
.bulletin-sect{padding:60px 0 0} 
.bulletin-sect .main-heading{margin:0}
.bulletin-sect .trading-signals-subheading{font-size:28px;margin:15px 0 35px}
.plan-intro-sect{padding:90px 0 0;background:url(./src/assets/img/diff-intro-bg-de.png),linear-gradient(95.96deg,#252923 20.18%,#5B5B5B 82.28%);background-size:cover;background-position:right bottom,left top;background-repeat:no-repeat;position:relative}
.en .plan-intro-sect{background:url(./src/assets/img/diff-intro-bg-en.png),linear-gradient(95.96deg,#252923 20.18%,#5B5B5B 82.28%);background-size:cover;background-position:right bottom,left top;background-repeat:no-repeat}
.plan-intro-sect:before{content:"";background-color:rgba(0,0,0,.5);position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
.plan-intro-sect .container{position:relative;z-index:2}
.plan-intro-sect *{color:#fff}
.plan-intro-sect .intro-right img{margin-bottom:-5px;min-width:500px}
@media (min-width: 1280px) {
.plan-intro-sect .intro-left{display:flex;align-items:center}
}
@media (max-width: 1365px) {
.trading-results{min-width:100%}
.trading-results .tradings-results-item-number{font-size:22px}
}
@media (max-width: 1280px) {
.trading-results-row{padding:105px 0 30px}
.plan-intro-sect .intro-row{flex-direction:column}
.plan-intro-sect .intro-right img{min-width:auto;max-width:100%}
.plan-intro-sect .intro-text{margin-bottom:0}
.plan-intro-sect .intro-row p{margin:25px 0 0}
}
@media (max-width: 768px) {
.trading-results .tradings-results-item-number{font-size:30px}
.intro-sect{padding:30px 0}
.plan-intro-sect{padding:60px 0 0}
.trading-results-row{padding:85px 0 20px}
}
@media (max-width: 576px) {
p.trading-results-item-name{font-size:13px}
.trading-results .tradings-results-item-number{font-size:20px}
.trading-results-row{padding:65px 0 10px}
.intro-right .trading-results {margin: 0 -15px;}
}