.h3{text-transform:uppercase;}
.cot1-intro-sect,.cot2-intro-sect{padding:120px 0;background-color:#E5E4E2;background-size:cover;background-position:center}
.cot2-intro-sect{background-color:#ffe019}
.cot1-intro-text{max-width:500px}
.recept-sect{padding:90px 0}
.recept-container{display:flex;justify-content:space-between}
.recept-col{width:60%}
.recept-col:first-of-type .recept-item{margin:30px 0 35px}
.recept-col + .recept-col{width:75%}
.recept-item{margin:30px 0;display:flex;flex-wrap:wrap}
.recept-col + .recept-col .recept-item{flex-direction:column}
.recept-item-left{position:relative}
.recept-item-left p{margin:25px 0 0;max-width:285px}
.recept-item-center p{margin:20px 0}
.recept-item-left,.recept-item-right{width:80%;padding:0 20px}
.recept-item-left{position:relative}
.recept-col-right .recept-item{flex-direction:column}
.recept-col h3{text-align:left}
.recept-item-heading-number{color:#3f313f;background-color:#27e34f;min-width:40px;height:40px;border-radius:50%;text-align:center;line-height:37px;font-weight:700;border:1px solid #3f313f}
.recept-item-heading img {width:40px;}
.recept-col .plan-item{max-width:320px;margin-right:20px;}
.cols-sect{background-color:#F2F2F1;padding:90px 0}
.cols-row{display:flex}
.cols-row .middle-heading{margin-bottom:20px}
.cols-sect .col{width:50%;padding-right:78px}
.col-list{list-style:none;padding-left:0;font-size:14px}
.col-list li{margin-bottom:24px;position:relative;list-style:none;padding-left:20px;font-size:18px}
.col-list li:before{content:"";background-color:#34a938;width:8px;height:8px;top:10px;left:0;border-radius:50px;display:inline-block;position:absolute}
.tariff-item:before{content:"";position:absolute;width:50px;height:50px;background-repeat:no-repeat;background-position:center;display:inline-block;top:-30px;left:-10px}
.tariff-item:nth-of-type(1):before{background-image:url(/assets/images/cot-01/book-icon.svg)}
.tariff-item:nth-of-type(2):before{background-image:url(/assets/images/cot-01/tools-icon.svg)}
.tariff-item:nth-of-type(3):before{background-image:url(/assets/images/cot-01/graph-icon.svg)}
.coaching-people-sect{padding:90px 0;background-color:#3e3940}
.coaching-people-sect *{color:#fff}
.coaching-people-item img {max-width:320px;height:auto;}
.coaching-people-container{height:800px;position:relative;margin-left:20px}
.coaching-people-name{display:none}
.coaching-people-item,.coaching-people-desc{position:absolute}
.coaching-people-desc{width:275px;background-color:#3e3940;border-radius:10px;padding:10px;}
.coaching-people-text {margin:0;}
.coaching-people-item:nth-of-type(1){top:50px;left:280px}
.coaching-people-item:nth-of-type(2){top:180px;left:30px}
.coaching-people-item:nth-of-type(3){top:250px;left:530px}
.coaching-people-item:nth-of-type(4){bottom:80px;left:270px}
.coaching-people-item:nth-of-type(1) .coaching-people-desc{top:-70px;left:330px}
.coaching-people-item:nth-of-type(2) .coaching-people-desc{top:50px;left:-210px}
.coaching-people-item:nth-of-type(3) .coaching-people-desc{top:-50px;left:220px}
.coaching-people-item:nth-of-type(4) .coaching-people-desc{bottom:-130px;left:390px}
.cot-02 .study-points-sect{background-color:#fff7c6}
.cot-02 .study-points-item{background-color:#ffe019}
.abo .trading-points-sect{background-color:#f6f2f7}
/* .frei-abo .trading-points-row:nth-of-type(1) .trading-points-img:before{background-image:url(/assets/images/abo/frei-img-icon-1.svg)}
.frei-abo .trading-points-row:nth-of-type(2) .trading-points-img:before{background-image:url(/assets/images/abo/frei-img-icon-2.svg)}
.frei-abo .trading-points-row:nth-of-type(3) .trading-points-img:before{background-image:url(/assets/images/abo/frei-img-icon-3.svg)}
.frei-abo .trading-points-row:nth-of-type(4) .trading-points-img:before{background-image:url(/assets/images/abo/frei-img-icon-4.svg)}
.silber-abo .trading-points-row:nth-of-type(1) .trading-points-img:before{background-image:url(/assets/images/abo/silber-img-icon-1.svg);transform:rotate(180deg)}
.silber-abo .trading-points-row:nth-of-type(2) .trading-points-img:before{background-image:url(/assets/images/abo/silber-img-icon-2.svg)}
.silber-abo .trading-points-row:nth-of-type(3) .trading-points-img:before{background-image:url(/assets/images/abo/silber-img-icon-3.svg)}
.silber-abo .trading-points-row:nth-of-type(4) .trading-points-img:before{background-image:url(/assets/images/abo/silber-img-icon-4.svg)}
.silber-abo .trading-points-row:nth-of-type(5) .trading-points-img:before{background-image:url(/assets/images/abo/silber-img-icon-5.svg)}
.gold-abo .trading-points-row:nth-of-type(1) .trading-points-img:before{background-image:url(/assets/images/abo/gold-img-icon-1.svg)}
.gold-abo .trading-points-row:nth-of-type(2) .trading-points-img:before{background-image:url(/assets/images/abo/gold-img-icon-2.svg)} */
.frei-abo .trading-points-img:before,.silber-abo .trading-points-img:before,.gold-abo .trading-points-img:before {display: none;}
.section-heading + .trading-points-container {margin-top: 90px;}
.abo .cot1-intro-sect{background-image:none;background-color:#f6f2f7}
.abo .cot1-intro-text{background-color:transparent}
.abo .study-points-sect{background-color:#fff}
.abo .study-points-item{background-color:#f6f2f7}
.abo .btn {border-radius: 4px;}
.frei-abo .study-points{margin:70px 0 100px}
.lessons-list,.lessons-answer{list-style:none;padding:0;height:0;opacity:0;margin:0;transition:.3s;cursor:default;}
.lessons-block{padding:20px 50px 0 20px;margin-bottom:25px;max-width:650px;transition:.3s;border-bottom:1px solid #27e34f;position: relative;}
.lessons-list li{margin-bottom:20px}
.lessons-list a{color:#000;text-decoration:none}
.lessons-list a:hover{text-decoration:underline}
.lessons-heading{display:flex;align-items:center;user-select:none;}
.lessons-heading-name{font-size:18px;font-weight:700;margin:0;cursor:pointer;text-align:left;}
.lesson-heading-btn{background-image:url(/assets/images/abo/faq-plus.svg);background-repeat:no-repeat;background-size:contain;min-width:20px;height:20px;margin:0 10px 0 auto;cursor:pointer;transition:.3s;position:relative;z-index:1;transform:translateX(40px);}
.lessons-block-open .lessons-list,.lessons-block-open .lessons-answer{height:auto;opacity:1;margin:10px 0 0}
.lessons-block-open .lesson-heading-btn{transform:rotate(45deg) translateX(28px) translateY(-28px);}
.faq-sect{padding:90px 0}
.abo-offer-sect{padding:90px 0}
/* .abo-offer-row{display:flex;margin:80px 0 65px;justify-content:flex-start;gap:30px}
.abo-offer-item{background-color:#fff;padding:20px;width:31%;position:relative}
.abo-offer-item-favorite:before{content:"beliebtester tarif";font-size:12px;font-weight:700;font-family:'Ubuntu',sans-serif;color: #242923;text-transform:uppercase;position:absolute;left:50%;top:-50px;transform:translateX(-50%);text-align:center;width:150px;padding: 4px 16px;display:inline-block;padding:2px 16px;background: linear-gradient(96.01deg, #6EE327 22.29%, #8EFF49 83.94%);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);border-radius: 4px;}
.en .abo-offer-item-favorite:before{content:"optimal choice"}
.abo-offer-item .btn{font-size:16px;padding: 18px 30px;width: 100%;}
.abo-offer-item p,.abo-offer-item p *{color:#000;font-weight:700}
.abo-offer-time{margin:0 0 15px;font-size:28px;font-weight:700}
.abo-offer-price{font-size:24px;margin:0 0 25px;font-weight:700} */
.plan-beginner-intro-sect,.plan-trader-intro-sect,.plan-iw-intro-sect {padding: 60px 0 0;}
.plan-beginner-intro-sect .intro-right img,.plan-trader-intro-sect .intro-right img,.plan-iw-intro-sect .intro-right img {margin-bottom: -5px;min-width: 500px;}
.plan-beginner-intro-sect .intro-right img {margin-bottom: -7px;min-width: 440px;}
.plan-beginner-intro-sect .intro-left,.plan-trader-intro-sect .intro-left,.plan-iw-intro-sect .intro-left {margin: 30px 0 60px;}
.plan-iw-intro-sect .intro-left p, .plan-iw-intro-sect .intro-left h1 {color: white;}
.plan-iw-intro-sect .intro-left {min-width: 570px;}
.plan-iw-intro-sect .cot1-intro-text {max-width: 540px;}
.plan-beginner-bg, .plan-trader-bg, .plan-iw-bg {background-size: cover;}
.abo .plan-beginner-bg{background-image:url(/assets/images/abo/plan-intro-beginner.jpg);}
.abo .plan-trader-bg{background-image:url(/assets/images/abo/plan-intro-pro.jpg);}
.abo .plan-iw-bg{background-image:url(/assets/images/abo/plan-intro-iw.jpg);}
.plan-trader-bg .btn {background: linear-gradient(95.96deg, #252923 20.18%, #5B5B5B 82.28%);box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);color: white;}
.plan-trader-bg .btn:hover {background: linear-gradient(95.96deg, #5B5B5B 20.18%, #252923 82.28%);box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);color: white;}
.plan-offer-row{display:flex;gap:20px;margin:80px 0 65px;justify-content:space-between;}
.plan-offer-row .btn-big-text {font-size: 18px;}
.plan-offer-item{background-color:#fff;padding:20px;position:relative;flex-grow:1;display:flex;max-width:230px;border: 1px solid #F9F9F9;border-radius: 4px;justify-content:space-between;align-items:center;}
.plan-offer-item-favorite:before{content:"beliebtester tarif";font-size:12px;font-weight:700;font-family:'Ubuntu',sans-serif;color: #242923;text-transform:uppercase;position:absolute;left:50%;top:-35px;transform:translateX(-50%);text-align:center;width:150px;display:inline-block;padding:2px 16px;background:white;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);border-radius: 4px;}
.plan-offer-item-left{text-align:center}
.plan-offer-item-time{font-weight:700;font-size:18px;text-transform:uppercase;color:#242923;margin:0 0 10px}
.plan-offer-price-start{font-family:"Ubuntu",sans-serif;font-weight:700;font-size:12px;line-height:14px;color:#7E7E7E;margin:0}
.plan-offer-price-current{font-family:"Ubuntu",sans-serif;font-weight:700;font-size:24px;color:#242923;margin:0}
.plan-offer-price-month{font-weight:400;font-size:12px;color:#7E7E7E;margin:0}
.plan-offer-trader-sect .btn-big-text{background:linear-gradient(95.96deg,#252923 20.18%,#5B5B5B 82.28%);box-shadow:0 0 10px rgba(0,0,0,0.1);color:#fff;border-color:transparent}
.plan-offer-trader-sect .btn-big-text:hover{background:linear-gradient(95.96deg,#5B5B5B 20.18%,#252923 82.28%);color:#fff;border-color:transparent}
.plan-offer-iw-sect .btn-big-text{background:linear-gradient(96.01deg,#6EE327 22.29%,#8EFF49 83.94%);box-shadow:0 0 10px rgba(0,0,0,0.1);color:#242923;border-color:transparent}
.plan-offer-iw-sect .btn-big-text:hover{background:linear-gradient(96.01deg,#8EFF49 22.29%,#6EE327 83.94%);color:#242923;border-color:transparent}
.en .plan-offer-item-favorite:before{content:"optimal choice"}
.tariff-conf-intro-sect{padding:90px 0}
.tariff-confirmation .checkmark-list{margin:40px 0 0}
.tariff-conf-desc-sect{padding:0 0 180px}
.tariff-conf-desc-sect .cols-row{display:flex;gap:40px;margin:40px 0 80px}
.tariff-conf-desc-sect .col{width:50%}
.tariff-money-back{display:flex;align-items:center;gap:20px;margin:40px 0 60px}
.cot-02 .cot-01-product-sect{background-color:#fff}
@media (min-width: 1280px) {
.plan-iw-intro-sect .intro-right {margin-left: -120px;}
.plan-beginner-intro-sect .intro-row,.plan-trader-intro-sect .intro-row,.plan-iw-intro-sect .intro-row{align-items: center;}
}
@media (max-width: 1280px) {
.coaching-people-item,.coaching-people-desc{position:static}
.coaching-people-container{height:auto;margin-left:0}
.coaching-people-item{display:flex;margin:20px 0 40px}
.coaching-people-text{display:none}
.coaching-people-name{display:block;font-weight:700;cursor:pointer;user-select:none}
.coaching-people-name:before{content:"";background-image:url(../../images/triangel.png);background-position:center;background-size:cover;display:inline-block;width:10px;height:15px;margin-right:10px;translate:.3s}
.coaching-people-name-open:before{transform:rotate(90deg)}
.coaching-people-name.coaching-people-name-open ~ .coaching-people-text{display:block}
.coaching-people-desc{width:100%;margin-left:40px}
.coaching-people-item img{max-width:300px}
.plan-beginner-intro-sect .intro-row,.plan-trader-intro-sect .intro-row,.plan-iw-intro-sect .intro-row {flex-direction: row;}
.plan-iw-intro-sect .intro-left {min-width: 427px;padding: 0;}
.plan-offer-price-month {font-size: 10px;}
.plan-beginner-intro-sect .intro-left, .plan-trader-intro-sect .intro-left, .plan-iw-intro-sect .intro-left {margin: 30px 0 0;}
.plan-beginner-intro-sect .intro-right img, .plan-trader-intro-sect .intro-right img, .plan-iw-intro-sect .intro-right img {max-width:400px;min-width:unset;}
}
@media (max-width: 992px) {
.coaching-people-name{display:block}
.plan-offer-row{flex-direction:column;margin-top:40px;}
.plan-offer-item{width:100%;max-width:100%;flex-wrap: wrap;}
.plan-offer-item-favorite:before{position:static;top:-50px;transform:none;width: 100%;margin-bottom: 15px;font-size: 16px;background: linear-gradient(96.01deg, #6EE327 22.29%, #8EFF49 83.94%);padding: 6px;}
.tariff-conf-desc-sect .cols-row{flex-direction:column;gap:0}
.tariff-conf-desc-sect .col{width:100%}
.plan-beginner-intro-sect .intro-row,.plan-trader-intro-sect .intro-row,.plan-iw-intro-sect .intro-row {flex-direction: column;}
.plan-iw-intro-sect .intro-left {min-width: unset;}
}
@media (max-width: 768px) {
.recept-item{justify-content:flex-start;flex-wrap:initial;min-height:0;margin:10px 0}
.recept-container{flex-direction:column}
.recept-col,.recept-col + .recept-col{width:100%}
.recept-col + .recept-col{margin-top:30px}
.recept-item p{font-size:14px}
.recept-col:last-of-type .recept-item-heading{align-self:start;margin-right:20px}
.cols-row{flex-direction:column}
.cols-sect .col{width:100%;padding-right:0}
.cols-sect .col + .col{margin-top:20px}
.col-list li{margin-bottom:10px}
}
@media (max-width: 576px) {
.coaching-people-item{flex-direction:column}
.coaching-people-desc{margin-left:0;padding:0;}
.cot1-intro-sect,.cot2-intro-sect{padding:30px 0 45px}
.plan-beginner-intro-sect,.plan-trader-intro-sect,.plan-iw-intro-sect{padding-bottom: 0;}
.plan-beginner-intro-sect .intro-right img, .plan-trader-intro-sect .intro-right img, .plan-iw-intro-sect .intro-right img {max-width:100%;width:400px;}
.recept-col .plan-item {max-width: 320px;margin-right: 0;}
}
@media (max-width: 400px) {
.recept-sect {padding: 60px 0;}
.recept-item-left p {margin: 15px 0 0;}
.recept-item {margin: 10px 0;}
.recept-item-left, .recept-item-right {padding:0 15px;width:90%}
.recept-col:first-of-type .recept-item {margin:20px 0;}
.abo-offer-sect {padding: 60px 0;}
.coaching-people-item img {max-width: 250px;}
.tariff-item:before {left: 0;}
.lessons-block {padding: 20px 40px 0 0;margin-bottom: 15px;}
.lessons-heading-name {font-size: 14px;}
.lesson-heading-btn {margin: 0 0 0 auto;}
.lessons-list li {font-size: 14px;}
.section-heading + .trading-points-container {margin-top: 60px;}
.plan-offer-item-favorite:before {font-size: 14px;}
}
@media (max-width: 330px) {
.lessons-heading-name {font-size: 13px;}
}