.text-sect, .article {
    padding: 0;
}

.job-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.intro-sect {
    /* background-image: url(./src/assets/img/job/intro-job-bg.webp?2);
    background-size: cover;
    background-position: center; */
    padding: 50px 0 20px;
    text-align: center;
}

.intro-sect h1 {
    /* color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .8); */
    font-size: 50px;
    margin: 0;
}

.intro-sect h1 b {
    display: block;
    text-transform: uppercase;
    font-size: 54px;
}

.note {
    border: 0;
    padding: 0;
    margin: 35px 0;
}

.job-top .note {
    background-image: url(./src/assets/img/job/outro-job-bg.webp);
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
    flex-basis: 60%;
    flex-grow: 1;
    min-width: 60%;
    margin: 0;
}

.job-top .note *, .job-top .note p.note-text {
    color: white;
    font-style: normal;
    margin: 10px 0;
}

/* .note:nth-of-type(odd) {
    background-color: var(--lightblue-4);
} */

.note .h2,
.note .h2+.h2 {
    margin: 10px 0;
}

.note-text,
.note-text li,
.note li,
.list li {
    font-style: normal;
    margin: 10px 0;
}

.heading-icon {
    display: flex;
    align-items: center;
}

.outro-sect {
    margin: 50px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.outro-sect .h3 {
    font-size: 24px;
    margin: 0;
}

.outro-sect .btn {
    min-width: 230px;
}

@media (max-width: 768px) {
    .heading-icon img {
        margin: 0 15px 0 0;
    }

    .job-top {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 5px;
    }

    .job-top .note {
        min-width: 100%;
    }
}

@media (max-width: 576px) {
    .intro-sect h1 {
        font-size: 24px;
    }

    .intro-sect h1 b {
        font-size: 30px;
    }

    .h3,
    .middle-heading,
    .article .h2,
    .article .section-heading {
        font-size: 18px;
    }

    .outro-sect {
        flex-direction: column;
    }

    .outro-sect .h3 { 
        font-size: 18px;
    }
}

/* old website */
/* .intro-sect{background-color:#f6f2f7;padding:120px 0}
.job-photos-grid{display:grid;grid-template-columns:repeat(5,1fr);gap:20px;margin:100px 0}
.job-photos-img{width:100%;height:auto}
.job-photos-grid picture{display:flex;}
.container-big{width:1400px}
.job-about-us-sect,.job-steps-sect,.job-positions-sect{padding:88px 0}
.job-positions-sect{padding-bottom:220px}
.cols-row{display:flex}
.cols-row .col{width:50%;padding-right:60px}
.study-points{grid-template-columns:repeat(2,1fr);gap:30px 50px}
.study-points-item{background-color:#fff}
.job-about-us-sect li{display:flex;align-items:center}
.job-about-us-sect li + li{margin-top:29px}
.job-about-us-sect .job-icon{margin-right:25px}
.job-steps-item{display:flex}
.job-steps-item .circle-number{margin-right:22px}
.job-steps-item .small-heading{margin:25px 0 10px}
.job-steps-item + .job-steps-item{margin-top:15px}
.job-positions-role{color:#27e34f;text-transform:uppercase;font-weight:700}
.job-positions-item .middle-heading{margin-bottom:0}
.job-positions-item{margin-top:50px}
@media (max-width: 1400px) {
.container-big{width:90%}
.job-photos-grid{gap:10px}
}
@media (max-width: 992px) {
.job-photos-grid{grid-template-columns:repeat(3,1fr)}
.study-points{grid-template-columns:repeat(1,1fr)}
.cols-row{flex-direction:column}
.cols-row .col{width:100%;padding-right:0}
}
@media (max-width: 576px) {
.job-photos-grid{gap:5px;margin:60px 0;}
.intro-sect{padding:30px 0 60px}
.job-about-us-sect .job-icon{width: 30px;height: auto;}
.job-about-us-sect, .job-steps-sect, .job-positions-sect {padding: 60px 0;}
.job-steps-sect{padding-bottom:0;}
} */