.live-intro-sect {
  padding: 10px 0 0;
  background-color: var(--lightgrey-3);
  background-image: url(/assets/images/live-webinars/webinar-bg.webp);
  background-size: cover;
}

.live-intro-sect * {
  color: white;
}

.live-intro-sect .text {
  margin-bottom: 40px;
}

.live-intro-row {
  display: flex;
  align-items: center;
}

.live-intro-left {
  display: flex;
}

.live-intro-right {
  padding: 20px 0;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.video-item {
  display: flex;
  align-items: center;
  padding: 35px 44px;
  border: 1px solid #212529;
  position: relative;
  z-index: 2;
}

.video-item + .video-item {
  margin-top: 24px;
}

.video-item-badge {
  margin: 0;
  color: #878787;
  font-size: 14px;
}

.video-item-number {
  background-color: #2be23e;
  color: white;
  font-size: 24px;
  min-width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.video-item-name {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  flex-grow: 1;
}

.video-item-desc {
  margin: 0;
  font-size: 18px;
  padding-top: 12px;
  position: relative;
}

.video-item-desc:before {
  content: '';
  background: #eeeeee;
  border-radius: 4px;
  width: 178px;
  height: 1px;
  position: absolute;
  top: 3px;
}

.video-item-desc .list {
  padding-left: 17px;
}

.video-item-desc .btn-container {
  margin-top: 20px;
  gap: 10px;
}

p + .video-item-name {
  margin-top: 0;
}

.video-item-text {
  position: relative;
  margin-left: 14px;
  flex-grow: 1;
}

.video-sect .btn-container {
  padding: 45px 0 0;
}

.video-sect .h3-heading {
  margin-top: 0;
}

.video-item-time {
  min-width: 240px;
  margin-top: 5px;
}

.video-item-time-date {
  font-size: 18px;
  margin: 0 0 10px;
}

.video-item-time-exact {
  display: flex;
  margin-bottom: 15px;
}

.video-item-time-exact img {
  max-width: 26px;
}

.video-item-time-exact span {
  font-size: 25px;
  line-height: 1;
}

.video-item-time-day {
  margin-right: 10px;
}

.video-item-number {
  font-size: 18px;
  min-width: 40px;
  height: 40px;
}

.video-list + .h2 {
  margin-top: 60px;
}

.video-item-seminar {
  align-items: flex-start;
}

.video-time-option {
  border-bottom: 1px solid black;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-time-option .btn {
  text-align: center;
}

.video-time-option:first-of-type {
  padding-top: 0;
}

.video-time-option:last-of-type {
  border-bottom: 0;
}

.video-time-option .video-item-time-exact {
  margin-bottom: 0;
}

.video-time-option .video-item-time-exact span {
  font-size: 20px;
}

.video-item-city {
  padding: 0 10px;
}

.basic-marcus-intro-sect {
  background-image: url(/assets/images/pages/ff-webinar/basic-course-back.webp);
}

.passcode-wrap {
  text-align: center;
  margin: 35px 0;
}

.passcode-input-wrap {
  margin: 0 -2ch 20px 0;
}

:where([autocomplete='one-time-code']) {
  --otp-digits: 4;
  --otp-ls: 2.25ch;
  --otp-gap: 1.25;

  /* private consts */
  --_otp-bgsz: calc(var(--otp-ls) + 1ch);
  --_otp-digit: 0;

  all: unset;
  caret-color: var(--black);
  caret-shape: block;
  clip-path: inset(0% calc(var(--otp-ls) / 2) 0% 0%);
  font-size: 2.5rem;
  inline-size: calc(var(--otp-digits) * var(--_otp-bgsz));
  letter-spacing: var(--otp-ls);
  padding: 0 0 .75ch;
  text-align: left;
  border: 0;
  border-bottom: 1px solid var(--black);
  outline: none;
  padding-block: 1ch;
	padding-inline-start: calc(((var(--otp-ls) - 1ch) / 2) * var(--otp-gap));
}

.passcode-wrap .text.error {
  color: var(--red-2);
  display: none;
}

.staticPassVl.error {
  color: var(--red-2);
}

.staticPassVl.error+.text.error {
  display: block;
}

@media (max-width: 992px) {
  .video-item {
    flex-direction: column;
    padding: 20px;
  }

  .video-item-text {
    margin-left: 0;
    margin-top: 20px;
  }

  .video-item-text:only-child {
    margin-top: 0;
  }

  .video-item-time {
    min-width: unset;
    width: 100%;
    text-align: left;
  }

  .live-intro-row {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .live-intro-sect {
    padding: 30px 0 0;
  }

  .live-intro-left img {
    max-width: 400px;
    width: 100%;
  }

  .basic-marcus-intro-sect .live-intro-row {
    flex-direction: column;
  }

  .basic-marcus-intro-sect .live-intro-right {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .video-time-option {
    flex-direction: column;
    align-items: flex-start;
  }

  .video-item-city {
    padding: 15px 0;
  }
}

