.intro-sect{padding:120px 0 240px;background-image:url(../../images/abo-gold-bg.jpg);background-size:cover;background-position:center}
.intro-text{max-width:500px}
.article-sect{background-color:#f6f2f7;background-image:none}