.trading-signals{padding:70px 0 0}
.trading-signals-list p{display:flex;align-items:center}
.trading-signals-icon{margin-right:20px}
.trading-signals-list{margin:30px 0}
.trading-signals-list-heading{margin-left:37px}
.trading-signals-row{display:flex}
.trading-signals-col{display:flex;flex-direction:column}
.trading-signals-col:first-of-type{max-width:47%}
.trading-signals-col:last-of-type{max-width:53%}
.trading-signals-subheading{font-size:28px;margin:0}
.cta-button-container{position:relative;text-align:center;width:310px;margin-bottom:80px}
.cta-button-container:after{content:"";background-image:url(./src/assets/img/telegram-logo.svg);background-size:contain;background-position:center;background-repeat:no-repeat;width:50px;height:50px;display:inline-block;position:absolute;right:-70px;top:0}
.cta-button-container .btn{width:310px;padding:12px}
.cta-button-container p{color:#bdbdbd;margin-top:7px;min-width:310px;font-size:15px}
.trading-signals-main-img{width:52vw;max-width:720px;height:auto}
.cot-report-sect + .trading-signals{padding-top:0}
@media (max-width: 992px) {
.trading-signals{padding:50px 0 0}
.trading-signals-row{flex-direction:column}
.trading-signals .main-heading{margin-bottom:10px}
.trading-signals-subheading{font-size:24px;margin:0}
.trading-signals-list{margin:10px 0}
.trading-signals-main-img{width:100%;max-width:460px;margin:20px auto 0;display:block}
.trading-signals-col,.trading-signals-col:first-of-type,.trading-signals-col:last-of-type{max-width:100%}
.cta-button-container{margin-bottom:0}
}
@media (max-width: 576px) {
.cta-button-container{width:260px}
.cta-button-container .btn{width:260px;font-size:14px}
.cta-button-container p{min-width:260px}
}
@media (max-width: 375px) {
.cta-button-container:after{width:40px;height:40px;right:0;top:-60px}
}