@import "https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;700&display=swap";
:root{--black:#181818;--text-lightgrey:#878787;--lightgrey-1:#f0f0f0;--lightgrey-2:#efefef;--lightgrey-3:#293241;--lightgreen:#57e3a0;--green:#60D394;--lightblue-1:#E0FBFC;--lightblue-2:#98C1D9;}
*{box-sizing:border-box;font-family:"Noto Serif",serif}
.en-only,.de-only{display:none}
.mob-only{display:none}
html[lang="de"] .de-only{display:inline-block}
html[lang="en"] .en-only{display:inline-block}
.no-scroll{overflow:hidden}
body{margin:0;display:flex;flex-direction:column;min-height:100vh;background-color:var(--lightgrey-1)}
a{color:var(--black)}
img{max-width:100%;height:auto}
picture{font-size:0}
.transitions-on-page-load *{transition:none!important}
.container{max-width:920px;margin:0 auto}
.container-big{max-width:1200px;margin:0 auto}
.container-full{max-width:1400px;margin:0 auto}
.divider{margin:60px 0;}
.content{flex-grow:1}
.header{padding:12px 0;background-color:var(--lightgrey-1);position:fixed;width:100%;top:0;z-index:999;transition:.3s}
.header-nav div{position:relative}
.header-nav div a{text-decoration:none}
.dropdown-btn:after{content:"";width:8px;height:8px;display:inline-block;margin-left:8px;background-image:url(/assets/images/en/icons/dropdown.svg);background-position:center;background-size:contain;background-repeat:no-repeat;vertical-align:middle}
div.dropdown-content{display:none;position:absolute;background-color:var(--lightgrey-2);top:20px;left:-10px;flex-direction:column;padding:10px 10px 3px;z-index:1;min-width:150px}
.dropdown-btn.visible + div.dropdown-content{display:flex}
div.dropdown-content a{margin-left:0;padding:7px 0;font-size:14px;border-bottom:1px solid rgba(135,135,135,0.15);color:var(--text-lightgrey);transition:.3s;text-decoration:none}
div.dropdown-content a:last-of-type{border-bottom:0}
div.dropdown-content a:hover{color:var(--black)}
.header .container{display:flex;justify-content:space-between;align-items:center;position:relative}
.header .btn {white-space: nowrap;}
.header-menu{display:flex;align-items:center;justify-content:space-between;flex-grow:1;width:100%}
.header-nav{display:flex;gap:32px;margin-left:auto}
.header-nav-link{color:var(--text-lightgrey);font-size:17px;text-decoration:none;transition:.3s}
.header-nav-link:hover{color:var(--black)}
.header-logo{display:flex}
.header-logo img{max-width:130px}
.header-right{margin-left:auto}
.header-right-login{margin-right:12px;padding-right:12px;border-right:1px solid var(--black);font-size:14px;transition:.3s;color:var(--black);text-decoration:none}
.header-right-login svg{margin-right:3px}
.header-right-login svg path{transition:.3s}
.header-right-login:hover{color:var(--lightgreen)}
.header-right-login:hover svg path{fill:var(--lightgreen)}
.header ~ .content{margin-top:57px}
.hamburger{height:30px;width:28px;display:grid;grid-template-rows:repeat(3,1fr);justify-items:center;z-index:1;cursor:pointer;display:none;outline:none}
.hamburger span{display:block;background-color:#3d3d3d;position:relative;width:28px;height:2px;margin:6px 0;transition:.3s ease-in-out}
#toggle-menu{display:none;outline:none}
#toggle-menu:checked + .hamburger .top{transform:rotate(-45deg);margin-top:14px}
#toggle-menu:checked + .hamburger .meat{transform:rotate(45deg);margin-top:-2px}
#toggle-menu:checked + .hamburger .bottom{transform:scale(0)}
#toggle-menu:checked ~ .menu1{height:340px}
#toggle-menu:checked + .hamburger span{margin-bottom:0}
h1,h2,h3,h4,h5,h6{font-weight:500}
.h1,.h2,.main-heading,.section-heading{font-size:68px;margin:0 0 35px}
.h3,.middle-heading,.article .h2,.article .section-heading,.calendar-tip .small-heading{font-size:26px;margin:0 0 35px}
p + .h3{margin-top:35px}
.h4,.small-heading{font-size:18px}
.article .h2,.article h2,.article .section-heading,.article .h3,.article h3,.article .middle-heading{margin:35px 0 15px}
.article .h2 + .h2,.article .h2 + h3,.article .h2 + .section-heading,.article .h2 + .middle-heading,.article .section-heading + .section-heading,.article .middle-heading + .middle-heading,.article .section-heading + .middle-heading,.article .middle-heading + .section-heading,.article .h3 + .h2,.article .h3 + h3,.article .h3 + .section-heading,.article .h3 + .middle-heading{margin-top:15px}
.article p{font-size:18px;color:var(--black)}
.article .text-small{font-size:12px;}
.center,.text-center{text-align:center}
.text{font-size:18px;color:var(--black)}
.text-small{font-size:12px}
.list{margin:5px 0;padding-left:28px}
.list li{margin:8px 0;color:var(--black);font-size:18px}
.list-small{padding-left:16px}
.list-small li{margin:5px 0;font-size:12px}
.btn{font-size:14px;text-decoration:none;padding:6px 11px;border:1px solid var(--black);transition:.3s;cursor:pointer;outline:none;display:inline-block;background-color:transparent;user-select:none;color:var(--black);}
.btn-big{font-size:26px;padding:10px 30px;text-transform:uppercase}
.btn-white{border-color:white;color:white;}
.btn-white-fill{background-color:#fff;border-color:#fff;color:var(--black)}
.btn-black{color:var(--black)}
.btn-black-fill{background-color:var(--black);color:#fff}
.btn:hover,.btn-black:hover,.btn-white:hover{color:var(--lightgreen);border-color:var(--lightgreen)}
.btn-black-fill:hover{border-color:var(--lightgreen)}
.btn-white-fill:hover{background-color:var(--black);color:#fff;border-color:#fff}
.btn-lightblue-fill{background-color:var(--lightblue-1);color:var(--lightgrey-3);}
.btn-lightblue-fill:hover{color:var(--green);border-color:transparent;}
.btn-darkblue-fill{background-color:var(--lightgrey-3);color:var(--lightblue-1);}
.btn-darkblue-fill:hover{color:var(--lightblue-2);border-color:transparent;}
.btn-icon{max-width:20px;margin-right:15px}
.owhforms input{outline:none}
.form-vertical,.form-vertical .form-block{display:flex;flex-direction:column;align-items:flex-start;gap:15px}
.form-block{margin:0 0 15px;width:100%}
.form-vertical .cf-input-text,.form-vertical .cf-textarea{width:100%}
.form-vertical .btn{margin-top:15px}
.footer .owhforms{margin-bottom:35px}
.cf-input-text,.cf-textarea,.fs-form-input{background:rgba(240,240,240,0.1);border:1px solid var(--text-lightgrey);color:var(--black);padding:7px;outline:none;font-size:14px}
.cf-input-text::placeholder,.cf-textarea::placeholder{color:var(--text-lightgrey)}
.cf-textarea{min-height:160px}
.cf-input-text-footer{background:rgba(240,240,240,0.1);border:1px solid rgba(240,240,240,0.45);font-size:14px;text-align:right;padding:6.5px;color:#fff}
.cf-input-text-footer::placeholder{color:#878787}
.cf-label-checkbox-text{color:var(--text-lightgrey);font-size:14px}
.owhforms_loading{font-size:14px;color:var(--black)}
.form-input-checkbox,.cf-input-radio{position:absolute;opacity:0;height:0;width:0}
.label-checkbox{display:block;position:relative;padding:0 0 0 25px;margin-bottom:12px;cursor:pointer;user-select:none}
.checkmark{position:absolute;top:4px;left:0;height:14px;width:14px;border:1px solid var(--text-lightgrey);transition:.3s}
.label-checkbox:hover .form-input-checkbox ~ .checkmark{background-color:#eee}
.checkmark:after{content:"";position:absolute;display:none}
.label-checkbox .form-input-checkbox:checked ~ .checkmark:after,.cf-input-radio:checked ~ .checkmark:after{display:block}
.label-checkbox .checkmark:after,.cf-input-radio:checked ~ .checkmark:after{left:50%;top:50%;width:8px;height:8px;transform:translate(-50%,-50%);background-color:var(--black)}
.fs-form .btn-big{font-size:24px}
.fs-form.form-vertical{width:430px;max-width:100%}
.fs-form.form-vertical .fs-label,.fs-form.form-vertical .fs-form-input{width:100%;position:relative}
textarea.fs-form-input{min-height:100px;}
.form-steps{margin:35px 0;padding-left:17px}
.fs-label-text{color:var(--text-lightgrey);font-size:14px}
.twostepsForm_errors_1 div{color:red;margin:5px 0}
.error .fs-label-text{color:red}
.error .checkmark,.myiwForms_errorInput{border-color:red}
.fs-form-step,.quiz-step{display:none}
.fs-form-step.fs-form-step-current,.quiz-step.quiz-step-current{display:block}
.fs-tooltip{position:absolute;top:50%;transform:translateY(-50%);right:9px;z-index:1}
.fs-tooltip-text{display:none;position:absolute;top:50%;left:25px;transform:translateY(-50%);width:480px;padding:10px 16px;background-color:#fff}
.fs-tooltip-text:before{content:"";border-style:solid;border-width:10px 15px 10px 0;border-color:transparent #fff transparent transparent;position:absolute;left:-15px;top:50%;transform:translateY(-50%)}
.fs-tooltip-img{width:11px;height:11px}
.fs-tooltip:hover .fs-tooltip-text{display:inline-block}
.fs-tooltip .fs-tooltip-text span{color:var(--text-lightgrey);display:block;font-size:12px}
.fs-tooltip .fs-tooltip-text span:last-of-type{margin-top:10px}
.home-intro-sect{position:relative;padding:180px 0 200px;background-image:url(/assets/images/en/intro-bg.jpg);background-size:cover;background-position:center}
.home-intro-sect:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;display:block;background-color:var(--black);opacity:.35;z-index:2}
.home-intro-sect:after{content:"";position:absolute;top:0;right:0;width:220px;height:100%;display:block;background-image:url(/assets/images/en/intro-bg-numbers.png);background-size:cover;z-index:1;opacity:.7}
.home-intro-text{text-align:right;position:relative;z-index:3;max-width:525px;margin-left:auto}
.home-intro-text *{color:var(--lightgrey-2)}
.home-intro-text .h3{max-width:420px;margin-left:auto}
.home-intro-text .h4{max-width:290px;margin-left:auto;margin-bottom:40px}
.intro-sect .btn{margin-top:35px}
.intro-sect.text-sect,.lightgrey-bg{background-color:var(--lightgrey-1)}
.text-sect,.article{padding:80px 0}
.article + .text-sect{padding-top:0}
.about-team-sect{margin-bottom:80px}
.text-row{display:flex;gap:54px;margin:35px 0}
.text-row:last-of-type{margin-bottom:0}
.text-block{margin:35px 0}
.text-block .h3{margin-bottom:15px}
.text-col .text:first-of-type{margin-top:0}
.text-col-img-inner{min-width:410px}
.text-col .text:last-of-type{margin-bottom:0}
.text + .img-container{margin-top:35px}
.dark-sect{background-color:var(--black);padding:100px 0}
.dark-sect *{color:#fff}
.dark-sect :first-child{margin-top:0}
.dark-sect :last-child{margin-bottom:0}
.quote-sect{text-align:center}
.quote-sect cite{font-style:normal;display:block;max-width:700px;margin:0 auto 35px}
.champ-row{display:flex}
.champ-numbers{margin-bottom:35px}
.champ-img{margin-left:28px;display:inline-flex;flex-direction:column;align-items:flex-start}
.champ-img-max{min-width:258px}
.champ-img .img-desc{padding:15px 0 0}
.img-container{position:relative;display:inline-flex;flex-direction:column}
.img-container > a{font-size:0}
.img-container img{width:100%}
.img-desc,p.img-desc{font-size:12px;background-color:var(--black);color:#fff;padding:10px;margin:0;text-align:center}
.img-desc a{color:#fff}
.review-splide{text-align:center}
.review-splide .h3{margin:15px 0 60px}
.review-splide .text{font-style:normal;display:block;max-width:740px;margin:auto}
.review-splide .splide__arrow{top:50px}
.splide__arrow{background:transparent;background-image:url(/assets/images/en/icons/slider-arrow.svg);background-size:contain;background-repeat:no-repeat;border-radius:0;outline:none}
.splide__arrow svg{display:none}
.splide__arrow--prev{transform:translateY(-50%) rotate(180deg)}
.splide__pagination__page{width:13px;height:13px;background-color:var(--black);opacity:.25;margin:3px 6px}
.splide__pagination__page.is-active{background:var(--black);transform:scale(1);opacity:1}
.splide__arrow--prev{left:-6px}
.splide__arrow--next{right:-6px}
.results-splide iframe{width:100%}
.results-splide .splide__pagination{display:none}
.results-splide .splide__track{max-width:100%;margin:auto}
.results-splide .splide__arrow--next{right:-40px}
.results-splide .splide__arrow--prev{left:-40px}
.logo-sect{padding:100px 0}
.logo-row{display:flex;gap:30px}
.logo-row-img{max-height:40px}
.breadcrumbs{display:none}
.indicator-wrapper{position:fixed;top:57px;width:100%;height:5px;z-index:5;transition:.3s}
.indicator{width:0;height:100%;background-color:var(--black)}
.sl-wrapper .sl-image img{background-color:#fff}
.sl-overlay{background:#000}
.sl-wrapper .sl-navigation button,.sl-wrapper .sl-counter,.sl-wrapper .sl-close{color:#fff}
.article{background-color:var(--lightgrey-1)}
.article .img-container{background-color:#fff;margin:35px 0;min-width:50%}
.article-video{margin:35px 0;width:100%;height:521px}
.article-info-data{margin-bottom:35px}
.article-info-item b{font-size:26px;font-weight:400}
.table-container{overflow:auto;margin:40px 0;width:102%}
.table-container td,.table-container th{border-left:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;padding:9px;font-size:18px;color:var(--black)}
.table-container td:first-of-type,.table-container th:first-of-type{border-left:0}
.table-container th{font-weight:700}
.table-container tr:last-of-type td,.table-container tr:last-of-type th{border-bottom:0}
.article li,.article ul{margin:15px 0;color:var(--black);font-size:18px}
p.article-tip-name{font-size:26px;font-weight:500;margin-top:0}
.article-tip{display:flex;margin:35px 0}
.article-tip-img{margin-right:15px;min-width:42px;height:42px;background-image:url(/assets/images/en/icons/question-mark.svg);background-position:center;background-size:contain}
.article-tip-img img{display:none}
p.article-tip-text{margin-bottom:0}
.article-img img.article-item-card-icon{position:absolute;width:14px;height:14px;bottom:17px;right:17px;min-width:unset;top:unset;left:unset;transform:unset}
.article-item-card-badge{font-size:14px;z-index:1;position:absolute;color:#fff;background-color:var(--black);top:15px;left:15px;padding:5px 12px}
.article-item-card-name{font-size:26px;font-weight:500;color:var(--black);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:1;text-align:center}
.article-item-card-dark .article-item-card-name{color:white;}
.note{border-left:8px solid #706773;padding-left:20px;margin:35px 0}
p.note-heading{color:var(--text-lightgrey);font-weight:700;font-size:20px;margin:5px 0 15px}
p.note-text,div.note-text,.note-text p,.note-text li,.note li{color:var(--text-lightgrey);margin:15px 0}
.content .proPerfWrapper3,.content .proPerfWrapper1 .downloadLink{display:none}
.strategy-cot .cotTableWrapper{overflow-x:auto;max-width:920px;max-height:600px;box-shadow:0 0 25px rgba(0,0,0,0.1)}
.strategy-cot .cotTableWrapper .cotTableNew2 tr:nth-child(1) th{top:0}
.strategy-cot .cotTableWrapper .cotTableNew2 tr:nth-child(2) th,.is-safari .strategy-cot .cotTableWrapper .cotTableNew2 tr:nth-child(2) th{top:81px}
.cot-report-row,.cot-report-row-item{display:flex}
.cot-report-row-item{margin-right:24px;font-size:18px;gap:6px}
.cot-report-row-item .circle-number{background:none;color:var(--black);line-height:initial}
.cot-tabs-nav{display:flex;flex-wrap:wrap;list-style:none;padding:0;margin:15px 0;gap:8px}
.cot-tabs-content{margin-bottom:35px}
.cot-tabs-nav .btn{font-size:14px;min-width:70px;padding:8px 12px;color:var(--black);text-align:center}
.cot-tabs-nav .active .btn{background-color:var(--black);color:#fff}
.content .text-sect .graphWrapper{background:#fff}
.content .text-sect .cotTop_0,.content .text-sect .cotTop_1{display:none}
.content .text-sect .cotTop_3{margin:20px 0}
.text-sect .seasonality-btn-container .btn{border-color:var(--black)}
.seasonality-filter-action .btn{line-height:34px;text-transform:uppercase;text-align:center}
.content .graphWrapper{margin-left:0;max-width:1200px}
.strategy-seasonality .graphWrapper{max-width:920px}
.strategy-seasonality .graphWrapper tspan{font-size:12px}
.strategy-seasonality table.tdomTable_1 td,.strategy-seasonality table.tdomTable_1 th{font-size:9.7px!important;padding:3px 2px!important}
.tradeStatMainField > div{margin:35px 0}
div.tradeStatMainField h1{margin:15px 0 25px}
.content .design-2022 .amcharts-range-selector-from-input,.content .design-2022 .amcharts-range-selector-period-button,.content .design-2022 .amcharts-range-selector-to-input,.content .design-2022 .backbutton_cot.all_dataClick{font-size:14px!important;text-decoration:none!important;padding:6px 11px!important;border:1px solid var(--black)!important;transition:.3s!important;cursor:pointer!important;outline:none!important;display:inline-block!important;background-color:transparent!important;user-select:none!important}
.content .design-2022 .backbutton_cot.all_dataClick{width:180px;text-align:center;margin-left:10px}
.content .calendar-week-days{top:57px}
.content .our-event .calendar-event-text p{border-bottom:2px solid var(--text-lightgrey)}
.content .calendar-arrow{width:30px;height:30px;background-image:url(/assets/images/en/icons/slider-arrow.svg);transform:rotate(180deg)}
.content .calendar-arrow-right{transform:rotate(0)}
.content .calendar-day-current{border-color:var(--text-lightgrey)}
.content .calendar-day-current .calendar-date{color:var(--text-lightgrey)}
.content .calendar-event-text p,.content .calendar-event-text a{color:var(--black)}
.initial-capital > span{background-image:none;padding:0}
.blog-container{display:grid;grid-template-columns:repeat(3,1fr);gap:10px;margin-top:35px;justify-items:center}
.article-img a{font-size:0;position:relative;overflow:hidden;width:300px;height:200px;display:block}
.article-img img{position:absolute;transform:translate(-50%,-50%);top:50%;left:50%;transition:.3s;height:100%;max-width:unset;width:auto;min-width:100%}
.article-item-card:hover .article-img-thumb{transform:translate(-50%,-50%) scale(1.05)}
.article .text + .btn-big,.article p + .btn-big{margin:35px 0}
.article-offer{padding:30px 22px;background-color:var(--lightblue-2);}
.article-offer *:first-child{margin-top:0;}
.article-offer .btn{font-size:18px;}
.article-offer-row{display:flex;margin:38px 0;gap:20px;}
.article-offer-discount{background-color:var(--lightgrey-3);display:flex;flex-direction:column;color:var(--lightblue-1);align-items:center;justify-content:center;padding:5px;font-size:12px;font-weight:700;}
.article-offer-discount-number{font-size:42px;}
.article-list{border:1px solid #293241;}
.article-list-name{color:var(--lightgrey-3);padding:8px 44px;cursor:pointer;user-select:none;position:relative;}
.article-list-name::marker,.article-list-name::-webkit-details-marker{content:"";display:none;}
.article-list-name:after{content:"";background-image:url(/uploads/2023/06/15/arrow-down.svg);background-repeat:no-repeat;background-position:center;display:inline-block;width:19px;height:19px;margin: 0 0 -4px 8px;}
.article-list-links{list-style:none;padding:20px 44px;}
.article-list-links li:first-child{margin-top:0;}
.article-list-links li:last-child{margin-bottom:0;}
.article-list-links a{text-decoration:none;}
.article-list-links a:hover{text-decoration:underline;}
.article-rate{display:flex;border:1px solid var(--lightgrey-3);padding:30px 22px;margin-top:40px;}
.article-rate-text .h2{margin:0;}
.article-rate-text .text-small{margin:10px 0 0;}
.article-rate-button{display:flex;align-items:center;gap:22px;flex-grow:1;margin-left:22px;}
.article-rate-button .btn{flex-grow:1;}
.blog-sort{display:flex;flex-wrap:wrap;gap:8px;flex-grow:1;margin-left:22px;}
.blog-sort .btn-filled{background-color:var(--black);color:#fff}
.bulletin{display:none!important}
.plan-item{border:1px solid var(--text-lightgrey);padding:15px;position:relative;}
.plan-top{background-color:var(--black);color:#fff;text-align:center;font-size:26px;padding:20px}
.plan-body-desc{font-size:18px;margin:35px 0}
.plan-bottom{margin-top:35px;gap:15px;display:flex;justify-content:center;align-items:flex-end}
.plan-bottom-price-note p{margin:0;text-align:right}
.plan-bottom-price-note{position:absolute;bottom:10px;right:10px;}
.plan-bottom-price-start{margin-bottom:5px}
.plan-bottom-price-current{font-size:34px;margin:5px 0}
.plan-bottom-price-month{font-size:12px;color:var(--text-lightgrey);margin:5px 0 0}
.subscription-row{display:flex;gap:50px}
.subscription-col{flex-grow:1;flex-basis:50%}
.subscription-col-form{padding:10px 15px;border: 1px solid var(--black);}
.subscription-sect #paypal-button-container-shadow{background:var(--lightgrey-1)}
.subscription-sect .paypalData .fs-label-text{margin:0 0 10px}
.subscription-form-paypal{display:flex;flex-direction:column;margin-top:60px;}
.subscription-col-top{background-color:var(--black);display:flex;justify-content:space-between;align-items:center;}
.subscription-col-top span{color:white;display:inline-block;padding:10px;}
.subscription-col-top-price{font-size:20px;font-weight:700;text-align:right;}
.calendar-event-text a{text-decoration:none}
.thanks-row{display:flex;justify-content:space-between;align-items:center;margin:35px 0}
.thanks-col{flex-basis:50%}
.thanks-col .btn{margin:15px 0 35px}
.footer{background-color:var(--black);padding:100px 0}
.footer .text{color:#fff}
.footer-address{color:var(--text-lightgrey);font-size:18px;line-height:1.8}
.footer-row{display:flex;margin-bottom:44px}
.footer-col{flex-basis:33.3333%}
.footer-col:nth-of-type(2){text-align:center}
.footer-col:nth-of-type(3){text-align:right}
.footer-links{display:flex;flex-direction:column}
.footer-links a{color:var(--text-lightgrey);text-decoration:none;margin-bottom:10px;font-size:18px;display:inline-block;transition:.3s}
.footer-links a:hover{color:#fff}
.footer-links .h3{color:#fff;margin-bottom:20px}
.footer-social{display:flex;justify-content:flex-end;gap:10px;margin:10px 0 0}
.footer-social a{transition:.3s}
.footer-social a:hover{opacity:.8}
.scroll{position:fixed;z-index:9998;background-color:#fff;background-image:url(/assets/images/en/icons/top.svg);background-position:center;background-repeat:no-repeat;right:10vw;width:0;height:0;bottom:0;transition:.3s}
.show-scroll{width:42px;height:42px;bottom:24px}
.risk-disclosure{margin:30px 0 50px}
.risk-disclosure *{color:var(--text-lightgrey)}
.risk-disclosure .text{font-size:12px;margin-bottom:0}
.modal-window{position:fixed;z-index:100;top:50%;left:50%;transform:translate(-50%,-80%) scale(0.9);width:600px;max-width:95%;max-height:90vh;overflow:auto;min-height:200px;box-shadow:0 10px 30px rgba(0,0,0,0.2);background-color:#fff;border-radius:4px;transition:.3s ease-in-out;visibility:hidden;opacity:0;z-index:10000;display:flex;flex-direction:column}
.modal-close{width:18px;height:18px;display:inline-block;position:absolute;background-image:url(/assets/images/en/icons/modal-close.svg);background-position:center;background-repeat:no-repeat;background-size:contain;font-size:0;position:absolute;top:22px;right:22px}
.modal-window.show{transform:translate(-50%,-50%) scale(1);opacity:1;visibility:visible}
.modal-content{overflow:auto;max-height:calc(100% - 60px);margin-top:60px}
.modal-backdrop{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);z-index:9999}
.modal-block{padding:35px}
.modal-block:first-of-type{padding-top:0}
.modal-block .text:last-of-type{margin-bottom:0}
.modal-block-dark{background-color:var(--black);padding:15px}
.modal-block-dark .h3{color:#fff;margin:0;text-align:center}
.modal-block-section{margin:15px 0}
.modal-block-section .h4{margin-bottom:5px}
.modal-block-section p{margin:0}
.modal-block + .modal-block{padding-top:0}
.modal-pay{text-align:center;padding-bottom:35px}
.modal-pay-method{display:flex;justify-content:center;gap:2px;margin-top:15px}
.modal-pay-method a{text-decoration:none}
.modal-pay-method img{height:28px}
.modal-window .form-vertical{flex-direction:column}
.hidden{display:none}
/* .cookie-window{background-color:#fff;padding:15px 0;position:fixed;width:100%;bottom:-330px;transition:.3s;z-index:9998}
.cookie-window.active{bottom:0}
.cookie-window-row{display:flex;align-items:flex-end;gap:35px}
.cookie-window-col{display:flex;flex-direction:column;gap:5px}
.cookie-window-col .h4{margin:0}
.cookie-window-col .btn{width:120px} */
.en .calc-form-result-heading{font-family:"Noto Serif",serif}
.windows *{scrollbar-width:thin;scrollbar-color:var(--text-lightgrey) var(--lightgrey-1)}
.windows ::-webkit-scrollbar{width:12px;height:12px}
.windows ::-webkit-scrollbar-track{background:var(--lightgrey-1)}
.windows ::-webkit-scrollbar-thumb{background-color:var(--text-lightgrey);border-radius:20px;border:3px solid var(--lightgrey-1)}
@media (min-width: 1680px) {
.home-intro-sect{min-height:80vh}
}
@media (max-width: 1440px) {
.container-full{max-width:100%;margin:0 20px}
.article a{overflow-wrap:break-word}
}
@media (max-width: 1280px) {
.container-big{max-width:100%;margin:0 20px}
.scroll{right:24px}
}
@media (max-width: 992px) {
img{width: auto;}
.container,.container-big{max-width:100%;margin:0 20px}
.hamburger{display:block;float:right;margin-left:20px}
.logo-row{flex-wrap:wrap;align-items:center;justify-content:center}
.logo-row-img{max-height:30px}
.header-menu{display:none}
.nav-open ~ .header-menu{display:flex;flex-direction:column;top:42px;left:-20px;background:#fff;width:100vw;box-shadow:10px 10px 10px rgba(0,0,0,0.1);position:absolute}
.header-nav,.header-right{flex-direction:column;margin:0 auto 0 20px;padding:10px 0}
.header .btn{position:absolute;top:-1px;right:40px}
.header-right-login{border-right:0}
.header-nav{gap:22px;width:calc(100% - 40px)}
div.dropdown-content{min-width:100%;position:static;margin-top:10px;padding:0 10px}
.header ~ .content{margin-top:50px}
.home-intro-text{text-align:left;margin-left:0}
.home-intro-sect{padding:360px 0 80px;background-position:18% 0}
.home-intro-sect:after{width:120px}
.home-intro-text .h3,.home-intro-text .h4{margin-left:0}
.home-intro-text .h1 {font-size: 48px;margin: 0 0 25px;}
.review-splide .text{max-width:85%}
.review-splide .splide__arrow{top:50%}
.results-splide .splide__track{max-width:calc(100% - 50px)}
.results-splide .splide__arrow--prev{left:-5px}
.results-splide .splide__arrow--next{right:-5px}
.text-row{flex-direction:column;align-items:flex-start;gap:25px}
.text-row .img-container{max-width:410px}
.text-row .text-col{order:2}
.text-row .text-col-img{order:1}
.article-video{height:48vw}
.blog-container{grid-template-columns:repeat(2,1fr)}
.mob-only{display:block}
.fs-tooltip-text{top:-235px;left:-230px;transform:none;width:250px}
.fs-tooltip-text:before{left:unset;top:calc(100% - 3px);transform:translateX(-50%) rotate(270deg);right:0}
.fs-tooltip .fs-tooltip-text span{font-size:11px}
.cf-input-text,.cf-textarea,.fs-form-input{font-size:12px}
.article-offer{padding:20px;}
.plan-bottom-price-note img{max-width:100px;}
}
@media (max-width: 768px) {
.text-sect,.logo-sect{padding:60px 0}
.about-team-sect{margin-bottom:60px}
.h1,.h2,.main-heading,.section-heading{font-size:48px}
.h3,.middle-heading{font-size:24px}
.btn-big{font-size:18px}
.text,.article li,.article ul,.article p,.list li{font-size:16px}
.text-small{font-size:12px}
p.article-tip-name{font-size:22px}
.article-tip-img{min-width:35px;height:35px}
.img-desc,p.img-desc{font-size:12px}
.table-container td,.table-container th{font-size:14px}
.home-intro-sect{min-height: calc(100vh - 50px);display: flex;align-items: flex-end;}
.champ-row{flex-direction:column}
.champ-img{margin-left:0;margin-top:30px}
.cot-report-row{flex-direction:column}
.subscription-row{flex-direction:column}
.subscription-form-paypal{margin-top:0;}
.thanks-row{flex-direction:column-reverse;align-items:flex-start;gap:35px}
.article-offer{text-align:center;}
.article-offer-row{flex-direction:column;gap:0;}
.article-offer-discount{padding:8px;}
.article-offer-discount-number{line-height:1;}
.article-rate-button{margin-left:0;margin-top:30px;}
.article-rate{flex-direction:column}
.article-rate-text{text-align:center;}
.footer-row{flex-direction:column}
.footer-col:nth-of-type(1){order:3}
.footer-col:nth-of-type(2){order:1;text-align:left}
.footer-col:nth-of-type(3){order:2;text-align:left}
.footer-social{justify-content:flex-start}
.footer-address{margin-top:30px}
.cf-input-text-footer{text-align:left}
}
@media (max-width: 640px) {
.blog-container{grid-template-columns:repeat(1,1fr)}
}
@media (max-width: 576px) {
.seasonality-btn-container{margin:40px 0 30px}
}
@media (max-width: 480px) {
.h1,.h2,.main-heading,.section-heading{font-size:36px}
.h3,.middle-heading{font-size:22px}
.home-intro-sect{padding:360px 0 80px;background-position:14% -30px}
.home-intro-sect:after{width:100%;height:380px;bottom:0;top:unset;opacity:1;background-position:top;background-image:url(/assets/images/en/intro-bg-numbers-bottom.png)}
.home-intro-sect .h1,.home-intro-sect .h3{margin-bottom:15px}
.dark-sect{padding:80px 0}
.text-col-img-inner{min-width:unset}
.article-video{height:47vw}
.article .img-container{margin:25px 0}
.review-splide .text{max-width:75%}
.note{padding-left:15px;margin:30px 0}
p.note-heading{font-size:18px}
/* .cookie-window-col{min-width:100%}
.cookie-window-row{flex-direction:column;align-items:flex-start;gap:15px}
.cookie-window-col .btn{width:100%} */
.content .proPerfWrapper2 > div.proPerfWrapper2In_5 div.tableDiv{width:100%;padding:0}
}
@media (max-width: 420px) {
.home-intro-sect .h1,.home-intro-sect .h3{margin-bottom:10px}
.home-intro-text .h4{margin:0 0 20px;font-size:16px}
.home-intro-sect{padding:350px 0 80px}
.home-intro-sect:after{height:290px;opacity:.7}
.home-intro-sect{background-position:18% 0}
.plan-bottom {justify-content:flex-start;}
.article-rate-button{flex-direction:column;}
.article-rate-button .btn{width: 90%;}
.footer-links a,.footer-address{font-size:16px}
}
@media (max-width: 375px) {
.champ-img-max{min-width:unset}
.h1,.h2,.main-heading,.section-heading{font-size:30px}
.h3,.middle-heading{font-size:20px}
.review-splide .text{font-size:12px}
.review-splide .h3{font-size:16px}
}
@media (max-width: 340px) {
.article-img a{width:240px;height:160px}
.btn-big{font-size:16px;padding:10px 20px}
.header-logo img{max-width:110px}
.header .btn{font-size:12px}
}
@media (max-width: 320px) {
.header .btn{font-size:10px;padding:6px;top:0;right:35px}
}